<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{capitalize postingType.name}}</h3>
  </div>
  <div class="panel-body">
    <p>{{postingType.description}}</p>
    {{#link-to postingType.link class="btn btn-lg btn-default"}}{{fa-icon "plus"}} Create new {{capitalize postingType.name}}{{/link-to}}
  </div>
</div>