<div class="row">
  <div class="col-md-10">
    <h2 id="title">Welcome to AnnounceMints</h2>
    <h4>We help bring our community together by sharing announcements, calls for participation, events, and job openings.</h4>
    <div class="container-fluid">
      <div class="row row-header am-announcements">
        Announcements
        <div class="row">
          {{am-announcement}}  
        </div>
      </div>
      <div class="row row-header am-events">
        Events
      </div>
      <div class="row row-header am-calls">
        Calls
      </div>
      <div class="row row-header am-jobs">
        Jobs
      </div>
    </div>
  </div>
  <div class="col-md-2 right-col">
    <div class="right-col pill">
      <h3>{{#link-to 'new'}}Create new AnnounceMint!{{/link-to}}</h3>
    </div>
  </div>
</div>

<div class="row">
  
</div>